* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;

}

body {
    background-color: #f7f0e6;
}

h1 {
    font-size: 300%;
    color: #49372F;
    text-align: center;
}

h3 {
    font-size: 150%;
    color: #49372F;
    text-align: center;
}

/* ROCK PAPER SCISSORS IMAGES*/
/* Code from Web Dev simplified as specified in ReadMe*/

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    cursor: pointer;
    transition: 100ms;
}

.choice:hover {
    transform: scale(1.3);
}

/* MESSAGE TEXT ON WHO WON*/
/* Code from Whats dev as specified in ReadMe*/

.result {
    font-size: 150%;
    color: #49372F;
}

.result>p {
    text-align: center;
}

/* SCORE DISPLAY*/
/* Code from Web Dev simplified as specified in ReadMe*/
.score-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.score-text {
    color: #49372F;
}

#user-score {
    margin-left: 1rem;
}

#computer-score {
    margin-left: 1rem;
}

.result-loser {
    transform: scale(0.5, 0.5)
}

.result-winner {
    transform: scale(1.5);
}