* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f7f0e6;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 300%;
    color: #49372F;
    text-align: center;
}

h3 {
    font-family: 'Bungee', cursive;
    color: #49372F;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
}

/* Code from Web Dev simplified as specified in ReadMe*/
.choice {
    cursor: pointer;
    transition: 100ms;
}

.choice:hover {
    transform: scale(1.3);
}

.score-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

/* Own code*/
.score-text {
    font-family: 'Bungee', cursive;
    color: #49372F; 
}

#user-score {
    margin-left: 1rem;
}

#computer-score {
    margin-left: 1rem;
}

/* from WDS
.result-selection {
    transform: scale(0.5, 0.5)
    
}

.result-selecetion.winner {
    transform: scale(1.3);
}*/